@charset "utf-8";
*{
	font-style: normal; 
	margin: 0px;
	padding: 0px;
} 
body{
	background-image: url(../img/pc.jpg);
	background-size: cover;
	
}
#wraper {
	background-color: aliceblue;
	width: 1075px;
	margin: 0px auto;
	border-right: 1px solid rgba(254,254,254,1.00);
	border-left: 1px solid rgba(254,254,254,1.00);
}

#header ul li{
	z-index:3;
	list-style: none;
	float: left;
	display:block;
	width: 354px;
	height: 25px;
	border:solid #32cd32 2px;
	background-color: #98fb98;
	text-align: center;
}
a:link {
	color: #333333;
	text-decoration: underline;
}
a:visited{
	color: #333333;
	text-decoration: underline;
}
a:hover{
	color: #0000cc;
	text-decoration: underline;
}
#footer {
	clear: both;
	color: #FFFFFF;
	background-color: #333333;
}
#footer dl{
	color: #CCCCCC;
}
#footer	dt{
	color: #CCCCCC;
}
#footer dd{
	color: #CCCCCC;
}

#main .on{
	display:block;
}
#main .off{
	display:none;
}