@charset "utf-8";
*{
	font-style: normal; 
	margin: 0px;
	padding: 0px;
} 
body{
	background-image: url(img/pc.jpg);
	background-size: cover;
	
}
#wraper {
	background-color: aliceblue;
	width: 900px;
	margin: 0px auto;
	//border-right: 1px solid rgba(254,254,254,1.00);
	//border-left: 1px solid rgba(254,254,254,1.00);
	text-align: center;
}
#header{
	//background-image: url(img/pc3.jpg);
	border-top: 3px;
	position: relative;
	margin: 0px auto;
	//height: 255px;
}
#header #table{
	text-align: center;
}

#footer {
	//padding: 15px;
	clear: both;
	color: #FFFFFF;
	background-color: #333333;
}
#footer dl{
	color: #CCCCCC;
}
#footer	dt{
	color: #CCCCCC;
}
#footer dd{
	color: #CCCCCC;
}