<web-app>
	<filter>
		<filter-name>logincheckfilter</filter-name>
		<filter-class>LoginCheckFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>logincheckfilter</filter-name>
		<url-pattern>/productinput</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>logincheckfilter</filter-name>
		<url-pattern>/productorder</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter>
		
		<filter-name>authenticatefilter</filter-name>
		<filter-class>AuthenticateFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>authenticatefilter</filter-name>
		<url-pattern>/productinput</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>authenticatefilter</filter-name>
		<url-pattern>/productorder</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>




	
	<servlet>
		<servlet-name>orderlogin</servlet-name>
		<jsp-file>/orderlogin.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>orderlogin</servlet-name>
		<url-pattern>/orderlogin</url-pattern>
	</servlet-mapping>
	

	<servlet>
		<servlet-name>PRegistServlet</servlet-name>
		<servlet-class>PRegistServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PRegistServlet</servlet-name>
		<url-pattern>/prs</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SRegistServlet</servlet-name>
		<servlet-class>SRegistServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SRegistServlet</servlet-name>
		<url-pattern>/srs</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PQueryServlet</servlet-name>
		<servlet-class>PQueryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PQueryServlet</servlet-name>
		<url-pattern>/pqs</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SQueryServlet</servlet-name>
		<servlet-class>SQueryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SQueryServlet</servlet-name>
		<url-pattern>/sqs</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PDeleteServlet</servlet-name>
		<servlet-class>PDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PDeleteServlet</servlet-name>
		<url-pattern>/pde</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>SDeleteServlet</servlet-name>
		<servlet-class>SDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SDeleteServlet</servlet-name>
		<url-pattern>/sde</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PStockChangeServlet</servlet-name>
		<servlet-class>PStockChangeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PStockChangeServlet</servlet-name>
		<url-pattern>/pscs</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PStockServlet</servlet-name>
		<servlet-class>PStockServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PStockServlet</servlet-name>
		<url-pattern>/pss</url-pattern>
	</servlet-mapping>


</web-app>