<web-app>
	<filter>
		<filter-name>logincheckfilter</filter-name>
		<filter-class>User.LoginCheckFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>logincheckfilter</filter-name>
		<url-pattern>/productinput</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>logincheckfilter</filter-name>
		<url-pattern>/productorder</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>logincheckfilter</filter-name>
		<url-pattern>/uqc</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter>
		<filter-name>authenticatefilter</filter-name>
		<filter-class>User.AuthenticateFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>authenticatefilter</filter-name>
		<url-pattern>/productinput</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>authenticatefilter</filter-name>
		<url-pattern>/orderlogin</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>authenticatefilter</filter-name>
		<url-pattern>/uqc</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	
	
	<filter>
		<filter-name>kanrisyafilter</filter-name>
		<filter-class>Kanrisya.KanrisyaFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>kanrisyafilter</filter-name>
		<url-pattern>/productinput</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>kanrisyafilter</filter-name>
		<url-pattern>/productorder</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>kanrisyafilter</filter-name>
		<url-pattern>/main</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>kanrisyafilter</filter-name>
		<url-pattern>/pqs</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>kanrisyafilter</filter-name>
		<url-pattern>/sqs</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>kanrisyafilter</filter-name>
		<url-pattern>/ks</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	
	<filter>
		<filter-name>kanrisyaauthenticatefilter</filter-name>
		<filter-class>Kanrisya.KanrisyaAuthenticateFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>kanrisyaauthenticatefilter</filter-name>
		<url-pattern>/productinput</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>kanrisyaauthenticatefilter</filter-name>
		<url-pattern>/kanrisya</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>kanrisyaauthenticatefilter</filter-name>
		<url-pattern>/main</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>kanrisyaauthenticatefilter</filter-name>
		<url-pattern>/pqs</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>kanrisyaauthenticatefilter</filter-name>
		<url-pattern>/sqs</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>kanrisyaauthenticatefilter</filter-name>
		<url-pattern>/ks</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>menufilter</filter-name>
		<filter-class>Menu.MenuFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>menufilter</filter-name>
		<url-pattern>/productinput</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>menufilter</filter-name>
		<url-pattern>/productorder</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>menufilter</filter-name>
		<url-pattern>/spup</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>menufilter</filter-name>
		<url-pattern>/snext</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>menufilter</filter-name>
		<url-pattern>/look</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>menufilter</filter-name>
		<url-pattern>/menu</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>menufilter</filter-name>
		<url-pattern>/infomation</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>menufilter</filter-name>
		<url-pattern>/uinfo</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>menufilter</filter-name>
		<url-pattern>/orderin</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	
	<filter>
		<filter-name>menuauthenticatefilter</filter-name>
		<filter-class>Menu.MenuAuthenticateFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>menuauthenticatefilter</filter-name>
		<url-pattern>/productinput</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>menuauthenticatefilter</filter-name>
		<url-pattern>/menu</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>menuauthenticatefilter</filter-name>
		<url-pattern>/spup</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>menuauthenticatefilter</filter-name>
		<url-pattern>/snext</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>menuauthenticatefilter</filter-name>
		<url-pattern>/look</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>menuauthenticatefilter</filter-name>
		<url-pattern>/menu</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>menuauthenticatefilter</filter-name>
		<url-pattern>/infomation</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>menuauthenticatefilter</filter-name>
		<url-pattern>/uinfo</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>menuauthenticatefilter</filter-name>
		<url-pattern>/orderin</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	
	
	<servlet>
		<servlet-name>orderlogin</servlet-name>
		<jsp-file>/WEB-INF/jsp/user/orderlogin.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>orderlogin</servlet-name>
		<url-pattern>/orderlogin</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>kanrisya</servlet-name>
		<jsp-file>/WEB-INF/jsp/kanrisya/kanrisyaorderlogin.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>kanrisya</servlet-name>
		<url-pattern>/kanrisya</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>menu</servlet-name>
		<jsp-file>/WEB-INF/jsp/kanrisya/menuorderlogin.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>menu</servlet-name>
		<url-pattern>/menu</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FrontServlet</servlet-name>
		<servlet-class>Main.FrontServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FrontServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>/WEB-INF/jsp/menu/top.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet-mapping>
  		<servlet-name>default</servlet-name>
  		<url-pattern>/Browser/*</url-pattern>
	</servlet-mapping>
</web-app>