<web-app>

    <error-page>
        <error-code>404</error-code>
        <location>/TopServlet</location>
    </error-page>

    <error-page>
        <error-code>405</error-code>
        <location>/TopServlet</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/TopServlet</location>
    </error-page>

    <error-page>
        <exception-type>exception.ReturnHomeException</exception-type>
        <location>/TopCusServlet</location>
    </error-page>
    <servlet>
        <servlet-name>RefineCusServlet</servlet-name>
        <servlet-class>RefineCusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RefineCusServlet</servlet-name>
        <url-pattern>/RefineCusServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TopCusServlet</servlet-name>
        <servlet-class>TopCusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TopCusServlet</servlet-name>
        <url-pattern>/TopCusServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SortServlet</servlet-name>
        <servlet-class>SortServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SortServlet</servlet-name>
        <url-pattern>/SortServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RemoveServlet</servlet-name>
        <servlet-class>RemoveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveServlet</servlet-name>
        <url-pattern>/RemoveServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SPUNextServlet</servlet-name>
        <servlet-class>SPUNextServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SPUNextServlet</servlet-name>
        <url-pattern>/SPUNextServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StorePickUpServlet</servlet-name>
        <servlet-class>StorePickUpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StorePickUpServlet</servlet-name>
        <url-pattern>/StorePickUpServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DetailServlet</servlet-name>
        <servlet-class>DetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DetailServlet</servlet-name>
        <url-pattern>/DetailServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RefineServlet</servlet-name>
        <servlet-class>RefineServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RefineServlet</servlet-name>
        <url-pattern>/RefineServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TopServlet</servlet-name>
        <servlet-class>TopServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TopServlet</servlet-name>
        <url-pattern>/TopServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StoreServlet</servlet-name>
        <servlet-class>StoreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StoreServlet</servlet-name>
        <url-pattern>/StoreServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MenuServlet</servlet-name>
        <servlet-class>MenuServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MenuServlet</servlet-name>
        <url-pattern>/MenuServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CustomMenuServlet</servlet-name>
        <servlet-class>CustomMenuServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomMenuServlet</servlet-name>
        <url-pattern>/CustomMenuServlet</url-pattern>
    </servlet-mapping>
    
        <servlet>
        <servlet-name>UserInformationServlet</servlet-name>
        <servlet-class>UserInformationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserInformationServlet</servlet-name>
        <url-pattern>/UserInformationServlet</url-pattern>
    </servlet-mapping>
    
        <servlet>
        <servlet-name>CompleteServlet</servlet-name>
        <servlet-class>CompleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompleteServlet</servlet-name>
        <url-pattern>/CompleteServlet</url-pattern>
    </servlet-mapping>

</web-app>