@charset "utf-8";
*{
	font-style: normal; 
	margin: 0px;
	padding: 0px;
} 
/*body{
	background-image: url(img/pc.jpg);
	background-size: cover;
	
}
#wraper {
	background-color: aliceblue;
	width: 900px;
	margin: 0px auto;
	border-right: 1px solid rgba(254,254,254,1.00);
	border-left: 1px solid rgba(254,254,254,1.00);
}
#header{
	background-image: url(img/pc2.jpg);
	border-top: 3px;
	position: relative;
	margin: 0px auto;
	height: 255px;
}
#header ul#link{
	width: 900px;
	position: absolute;
	height: 300px;
}

#header ul li{
	z-index:3;
	list-style: none;
	float: left;
	display:block;
	width: 296px;
	height: 25px;
	border:solid #32cd32 2px;
	background-color: #98fb98;
	text-align: center;
}
#header ul li a {
	color: rgba(35,34,105,1.00);
	display: block;
	text-align: center;
	height: 1.7em;
	line-height: 1.7em;

	text-decoration-line: none;
}
#header2 ul#a{
	width: 900px;
	position: absolute;
	top:226px;
	height: 300px;
}

#header2 ul li{
	z-index:3;
	list-style: none;
	float: left;
	display:block;
	width: 296px;
	height: 25px;
	border:solid #cd32cd 2px;
	background-color: #fb98fb;
	text-align: center;
}
#header ul li a {
	color: rgba(35,34,105,1.00);
	display: block;
	text-align: center;
	height: 1.7em;
	line-height: 1.7em;

	text-decoration-line: none;
}*/

#main .on{
	display:block;
}
#main .off{
	display:none;
}

